body{
	margin: 0;
	padding: 0;
}

img{
	display: block;
}

ul{
margin: 14px;
padding: 0px;}

ul li {
	list-style: none;
	display: inline-block;
}

.header{
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

.top_bar{
overflow: hidden;
padding: 0px 0px;
border-bottom: 1px solid black
}

.logo{
float: left;
width: 50%;
padding: 4px;
padding-top: 0px;

}
.logo img{
	   float: left;
    margin: 0 10px;
}

.logo. img p{
	float: left;
}

.hand img{
	position: absolute;
    right: 6px;
    bottom: -2px;
}

.link ul{
	overflow: hidden;
}

.link ul li {
	    position: relative;
    list-style-type: none;
    display: block;
    text-decoration: none;
    float: left;
    left: 344px;
}

.navbar ul li a{
	   list-style: none;
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

.menu{
	width: 100%;
	position: relative;
	text-transform: uppercase;

}

.menu ul{
overflow: hidden;
}

.menu ul li {
	display: inline-block;
	overflow: hidden;
}

.menu ul li a{
	list-style-type: none;
	text-decoration: none;
	float: left;
}

#main-section{
	width: 100%;
	background: url(../images/s.png);
	margin-bottom: 10em;
	background-repeat: no-repeat;
	background-size: cover;
}

.mobile{
	transform: translateY(5em);
}

.mobile img{
	margin: 0 auto;
}

#container{
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding: 25px;
}

.content{
	text-align: center;
}

.content a{
background: #a4c0b0;
border: 0px;
padding: 1px 35px;
color: #223441;
text-decoration: none;
}

.footer{
	background-color: #332F30;
	height: 100px;
}
.footer .container{
	
	position: relative;
}

.button{
 position: absolute;
right: 181px;
top: 48px;
background: #a1e4bd;
border: 1px;
padding: 0px 4px;
color: white;
text-decoration: none;
}
.footer h3{

display: inline-block;
margin-top: 54px;
color: #c69797;
margin-left: 238px;
}

.copyright{
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

.copyright{
	float: left;
}

.copyright h4{
	text-transform: uppercase;
}

.menu{
	float: right;
}

.menu ul li{
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 20px;

	list-style: none;
    display: inline-block;
    color: black;
    font-size: 18px;
}

.menu ul li a{
	text-decoration: none;
	display: inline-block;
	color: black;
	left: 50px;
}